.generic-table-container {
  margin-bottom: 30px;
}

.generic-table-container h2 {
  font-size: 18px;
  margin-top: 0;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

table thead {
  background-color: #f0f0f0;
}

table th,
table td {
  text-align: left;
  padding: 0.5rem 1rem;
  border: 1px solid #e0e0e0;
}

table th p {
  margin: 5px;
  font-size: 12px;
  font-weight: 700;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}